.superInput {
  color: #8a8484;
  width: 130px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
  outline: none;
  box-shadow: inset 0px 20px 20px #ffffff;
  text-align: center;
}

.errorInput {
  color: #cecece;
  width: 130px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #ef8d8d;
  border-radius: 8px;
  outline: none;
  box-shadow: inset 0px 20px 20px #ffffff;
  text-align: center;
}

.error {
  font-size: small;
  color: #ecd5d5;
  text-align: center;
}
