.setting {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 170px;
  border: 2px #63dafc solid;
  border-radius: 10px;
  margin: auto;
}

.input {
  display: flex;
  flex-direction: column;
  background-color: #63dafc;
  border-radius: 10px;
  width: 250px;
  margin: auto;
  height: 80px;
}

.button {
  background-color: transparent;
  border: 2px #63dafc solid;
  border-radius: 10px;
  margin: auto;
  width: 250px;
  height: 50px;
}

.maxValue {
  margin: auto;
}

.startValue {
  margin: auto;
}

.textMax {
  font-weight: bold;
}

.textStart {
  font-weight: bold;
}
